

body {
  background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #b7d5ea;
}

.container {
  display: flex;
justify-content: center;
}

.search {
  width: 500px;
  height: 100px;
  padding: 12px 24px;
  background-color: white ;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  }
  
  button{
    padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  }

  button:hover {
background-color: #ddd6e8 ;
color: black
  }


  .analysisBox{
    padding: 12px 24px;
    background-color: white;
    width: 150px;
    box-shadow: inset 0px 0px 0px 4px #ddd6e8;
    border: 1px solid  #575756
  }
 
  /*LOADER*/

  